body{
    background-color: #024b30;

}

.grid-container{
    display: grid;
    border: 0px;
    grid-template-columns: repeat(10,1fr);
    column-count: 10;
    grid-gap: 0px;
}

.grid-item{
    position: relative;
    padding: 1px;
    display: block
}

.reverse .rabbit {
    transform: rotateY(180deg);
}

.grid-item:nth-child(11){
    grid-column-start: 10;
    grid-row-start: 2;
}

.grid-item:nth-child(12){
    grid-column-start: 9;
    grid-row-start: 2;
}

.grid-item:nth-child(13){
    grid-column-start: 8;
    grid-row-start: 2;
}

.grid-item:nth-child(14){
    grid-column-start: 7;
    grid-row-start: 2;
}

.grid-item:nth-child(15){
    grid-column-start: 6;
    grid-row-start: 2;
}

.grid-item:nth-child(16){
    grid-column-start: 5;
    grid-row-start: 2;
}

.grid-item:nth-child(17){
    grid-column-start: 4;
    grid-row-start: 2;
}

.grid-item:nth-child(18){
    grid-column-start: 3;
    grid-row-start: 2;
}

.grid-item:nth-child(19){
    grid-column-start: 2;
    grid-row-start: 2;
}

.grid-item:nth-child(20){
    grid-column-start: 1;
    grid-row-start: 2;
}

.grid-item.show-rabbit .rabbit{
    opacity: 1;
}

.grid-item.show-rabbit .carrot{
    opacity: 0;
}

.grid-item.hide-rabbit .rabbit{
    opacity: 0;
}

.grid-item.hide-rabbit .carrot{
    opacity: 0;
}

.grid-item.show-carrot .carrot{
    opacity: 1;
}

.grid-item.hide-carrot .carrot{
    opacity: 0;
}

.rabbit{
    position: relative;
    width: 70%;
    height: auto;
    z-index: 0;
    opacity: 0;
}

.carrot{
    position: absolute;
    max-width: 80%;
    height: auto;
    z-index: -1;
    left: 0%;
    opacity: 0;
}


