body{
    background-color: #024b30;

}

#grid-container{
    display: grid;
    border: 0px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    column-count: 10;
    grid-gap: 0px;
}

.grid-item{
    position: relative;
    padding: 1px;
    display: block
}


#rabbit{
    position: relative;
    width: 70%;
    height: auto;
    z-index: 0;
    opacity: 100%;
}

#carrot{
    position: absolute;
    max-width: 80%;
    height: auto;
    z-index: -1;
    left: 0%;
    opacity: 100%;
}

