body{
    background-color: #024b30;

}

#grid-container{
    display: grid;
    border: 0px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    column-count: 10;
    grid-gap: 0px;
}

.grid-item{
    position: relative;
    padding: 1px;
    display: block
}

.grid-item.show-rabbit .rabbit{
    opacity: 1;
}

.grid-item.show-rabbit .carrot{
    opacity: 0;
}

.grid-item.hide-rabbit .rabbit{
    opacity: 0;
}

.grid-item.hide-rabbit .carrot{
    opacity: 0;
}

.grid-item.show-carrot .carrot{
    opacity: 1;
}

.grid-item.hide-carrot .carrot{
    opacity: 0;
}

.rabbit{
    position: relative;
    width: 70%;
    height: auto;
    z-index: 0;
    opacity: 0;
}

.carrot{
    position: absolute;
    max-width: 80%;
    height: auto;
    z-index: -1;
    left: 0%;
    opacity: 0;
}


