body {background-image:url(../images/web-background.jpg);display: inline-block;}
h1 {font-family: Arial, Helvetica, sans-serif;text-align: center; color: azure;}
h3 {font-family: Arial, Helvetica, sans-serif;text-align: inherit; color: black;font-size: 15.0;}
p {font-family: Arial, Helvetica, sans-serif; color: lightcyan;}
a {font-family: Arial, Helvetica, sans-serif; color:lightpink;}