body{
    position: relative;
    background-color:15202B;
}

.grid-container{
    column-count: 3;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;  

}

.grid-left{
    position: absolute;
    width: 286px;
    height: 738px;
    background: #15202B;
    border-right: 1px solid #38444D;
    box-sizing: border-box;
}

.grid-center{
    position: absolute;
    background-color: 15202B;
    height: 738px;
    width: 596px;
    left: 1341px;
    top: -261px;
    border-radius: 0.3px,38444D;


}

.grid-right{
    position: absolute;
    background-color: 15202B;
    height: 738px;
    width: 398px;
    right: 0px;
    top: -261px;
    border-radius: 0px;
    
}

.icon-names{
    position: fixed;
}

.Home{
    position: fixed;
    font-family: Helvetica Bold;
    top: 68px;
    left: 73px;
    font-size: 19.5px;
}

.Explore{
    position: fixed;
    font-family: Helvetica Bold;
    top: 112px;
    left: 73px;
    font-size: 19.5px;
}

.notification{
    position: fixed;
    font-family: Helvetica Bold;
    top: 156px;
    left: 73px;
    font-size: 19.5px;
}

.messages{
    position: fixed;
    font-family: Helvetica Bold;
    top: 200px;
    left: 73px;
    font-size: 19.5px;
}

.bookmark{
    position:fixed;
    font-family: Helvetica Bold;
    top: 244px;
    left: 73px;
    font-size: 19.5px;
}

.lists{
    position: fixed;
    font-family: Helvetica Bold;
    top: 288px;
    left: 73px;
    font-size: 19.5px;
}

.profile{
    position: fixed;
    font-family: Helvetica Bold;
    top: 332px;
    left: 73px;
    font-size: 19.5px;
    
}

.more{
    position: fixed;
    font-family: Helvetica Bold;
    top: 376px;
    left: 73px;
    font-size: 19.5px


}

img{
    position: fixed;
    justify-self: start;
    margin-top: 30px;
    
}