body {
font-family:'Cormorant Garamond Regular';
font-size: medium;
text-align: left;
display: block;
line-break: normal;
margin: 20px;
line-height: 28px;
background-image: url(../images/romeo-and-juliet-background.jpg); 
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-color: bisque;
} 

.act{
    font-weight: 1000; 
    font-size: x-large;
    font-family:'Cormorant Garamond Regular';
}

.scene{
    font-weight: 300; 
    font-size: medium;
    font-family:'Cormorant Garamond Italic';
}

.play{
    font-weight: 300; 
    font-size: medium;
    font-family:'Cormorant Garamond Regular';
}

.names{
    font-weight: 1000; 
    font-size: medium;
    font-family:'Cormorant Garamond Rgular';
}

